# https://stackoverflow.com/a/5250314

# ignore everything
*

!.gitignore
!README.md

# include these in source
!pearson/
!pearson/phys.py

!reddit/
!reddit/friends/
!reddit/friends/cron.job
!reddit/friends/genfriends.py
!reddit/friends/ripfriends.sh
!reddit/friends/ripuser.sh
!reddit/friends/download.py
!reddit/friends/importfriends.py
!reddit/friends/gensubmissions.py
!reddit/friends-streaming/
!reddit/friends-streaming/download.py
!reddit/friends-streaming/watch.py
